*{
    margin: 0;
    padding: 0;
}

video {
 
    height: 100%;
    width: 100%;   
}

.container {
    display: None;
    position: relative;
}

.videoBackground {

    position: fixed;

}

.content{

    position: absolute;
    top:5vh;
    left: 20vw;


}


.headings{
    margin:20px;
    font-weight: bold;
    color: white;
    border:2px solid white;
    display: inline-block;
}


#upa{
    font-size:50px;
    /* position: absolute; */
    font-style: italic;
    margin-left: 15vw;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px white;
}
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  

}

#pua{
    font-size:30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px white;
    margin-left: 22vw;
}


#r{

    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px white;
    font-size:20px;
    font-style: italic;
    margin-left: 12vw;
}

input[type="file"]::file-selector-button {
    color:rgb(251, 251, 251);
    border-radius: 4px;
    width: 200px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #2fb871;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;

    font-size: 1vmax;

    margin-left: 1vw;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
  
    border: 2px solid black;
    font-size: 1.04vmax;
    font-weight: bold;

    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    animation: textclip 2s linear infinite;
    display: inline-block;   
}

.ChooseAudio .UploadForm{

    display:flex;
    flex-direction: column;
    position: relative;
    left: 24vw;


}



.ChooseAudio #SubmitButton{

    margin-top: 20px;
    border: 2px solid rgb(117, 164, 231);
    border-radius: 10px;
    width: 15vw;
    height:7vh;
    font-size: 1vmax;
    background-color:rgb(55, 121, 235);
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: uppercase;


}

.ChooseAudio #SubmitButton:hover {
    
    border: 2px solid black;
    font-size: 1.04vmax;
    font-weight: bold;
    font-style: italic;

    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #44107a 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.ChooseAudio #SubmitButton:active {

    border: 3px solid rgb(230, 11, 11);
    background-color: red;
    font-size: 0.97vmax;

}

.ResultsAudio{
     display: flex;
     flex-direction: column;
     position: absolute;
     left: 130px;
}

.ResultsAudio audio{

    border: 3px solid black;
    border-radius:40px;
    width: 400px;
  
      
    
   
}

.ResultsAudio audio:hover{
    border: 3px solid rgba(6, 191, 80, 0.959); 
    box-shadow: 0 0 20px rgb(69, 241, 187);   
}

.ResultsAudio button{

    box-shadow: 0px 0px 20px white;
    background-color:transparent;
    border-radius: 50px;
    width: 17vw;
    height:5vh;
    font-size: 1vmax;
    margin-left: 3vw;
    cursor: pointer;
    border: 2px solid white;
    font-weight: bold;
}

.ResultsAudio button:hover{

    box-shadow: 0px 0px 20px rgb(216, 238, 12);

}


.Results0Audio,.Results1Audio,.Results2Audio{

    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 20px;

}


.ResultsAudio a{
    text-decoration: None;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}

.UploadedAudio audio{

    border: 3px solid black;
    border-radius:40px;
    width: 500px;
    margin-left: 15vw;

}

.UploadedAudio audio:hover{

    border: 3px solid rgba(6, 191, 80, 0.959); 
    box-shadow: 0 0 20px rgb(69, 241, 187);   

}








