<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/newstyle.css">
    <link rel="stylesheet" href="../static/loader.css">
    <link rel="stylesheet" href="../static/progress_bar.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Fivive - Music Generation</title>
</head>

<body>
    
    <div id="loaderContainer">
        <div class="loader"></div>
        <div class="label">Loading...</div>
    </div>


        <div class = "container">
            
            <div class="videoBackground">
                <video playsinline autoplay muted loop>
                  <source src="../static/background3.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
            </div>    
            
          
            <div class="content">
                
                <div class="headings" id = "upa">Upload and Play Audio</div>

                <progress id="progressBar" value="0" max="100"></progress>
                
                <div class = "ChooseAudio">
                    <form class = "UploadForm" action="/upload" method="POST" enctype="multipart/form-data">
                        <input id ="InputAudio" type="file" name="AudioFile" accept=".mp3,.wav,.ogg" required>
                        <input onclick = "startFunction()" id = "SubmitButton" type="submit" value="Generate Music  ">
                    </form>
                </div>
                
                <div class="headings" id = "pua">Play Uploaded Audio</div>
    
                <div class = "AllAudios">
    
                    <div class = "UploadedAudio">
                        <audio controls>
                            <source src="{{filename}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
    
                    <div class="headings" id="r">"Music can change the world because it can change people." — Bono</div>
    
                    <div class = "ResultsAudio">
                        
                        <div class = "Results0Audio">
                            <audio controls>
                                <source src="{{wav0_filename}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <button> <a href="{{ url_for('download_audio',filename = wav0_filename)}}" download="example0.mp3">Download Happy Rock</a></button>
                        </div>
    
                        <div class = "Results1Audio">
                            <audio controls>
                                <source src="{{wav1_filename}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <button> <a href="{{ url_for('download_audio',filename = wav1_filename) }}" download="example1.mp3">Download Energetic EDM</a></button>
                        </div>
    
                        <div class="Results2Audio">
                            <audio controls>
                                <source src="{{wav2_filename}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <button> <a href="{{ url_for('download_audio',filename = wav2_filename) }}" download="example2.mp3">Download Sad Jazz</a></button>
                        </div>
    
                    </div>
    
                </div>
            
            </div>
    
           
        </div>
           
    <script src="{{ url_for('static', filename='loader.js') }}"></script>    
    <script src="{{ url_for('static', filename='progress.js') }}"></script>    
   
</body>

</html>